In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "Resources/IMDb_ratings.csv"
rating_data_df = pd.read_csv(csv_file)

movie_csv_file = "Resources/IMDb_movies.csv"
imdb_movies_df = pd.read_csv(movie_csv_file)

disney_csv_file = "Resources/disney_plus_shows.csv"
disney_data_df = pd.read_csv(disney_csv_file)

netflix_csv_file = "Resources/netflix_titles.csv"
netflix_data_df = pd.read_csv(netflix_csv_file)

# filter columns

In [3]:
new_rating_data_df = rating_data_df[['imdb_title_id','weighted_average_vote']].dropna()

In [4]:
imdb_movies_drop_df=imdb_movies_df[['imdb_title_id','title']].dropna()
new_imdb_movies_df = imdb_movies_drop_df.drop_duplicates(['title'])

In [5]:
new_disney_data_df = disney_data_df[['imdb_id','title','imdb_rating','plot','type','year','added_at']].dropna()
disney_filter = new_disney_data_df.loc[new_disney_data_df['type']=='movie'].rename(columns={'imdb_id':'imdb_title_id'})
disney_filter

,imdb_title_id,title,imdb_rating,plot,type,year,added_at
0,tt0147800,10 Things I Hate About You,7.3,"A pretty, popular teenager can't go out on a d...",movie,1999,"November 12, 2019"
2,tt0115433,101 Dalmatians,5.7,An evil high-fashion designer plots to steal D...,movie,1996,"November 12, 2019"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,5.8,"Being one of 101 takes its toll on Patch, who ...",movie,2002,"November 12, 2019"
4,tt0211181,102 Dalmatians,4.9,Cruella DeVil gets out of prison and goes afte...,movie,2000,"November 12, 2019"
5,tt1846442,12 Dates of Christmas,6.3,"A story that follows Kate, a young woman who a...",movie,2011,"November 12, 2019"
...,...,...,...,...,...,...,...
987,tt3544734,Zapped,5.1,"When Zoey's mom remarries, Zoey finds it hard ...",movie,2014,"November 12, 2019"
988,tt0186726,Zenon: Girl of the 21st Century,6.4,An inquisitive teenager pries into suspected d...,movie,1999,"November 12, 2019"
989,tt0271271,Zenon: The Zequel,5.9,A mischievous fifteen-year-old girl living on ...,movie,2001,"November 12, 2019"
990,tt0379060,Zenon: Z3,5.5,The heroine sets out to win an important compe...,movie,2004,"November 12, 2019"
991,tt2948356,Zootopia,8.0,"In a city of anthropomorphic animals, a rookie...",movie,2016,"November 12, 2019"

In [8]:
new_netflix_data_df = netflix_data_df[['show_id','title','description','type','release_year','date_added']].rename(columns={'release_year':'year'})
netflix_filter = new_netflix_data_df.loc[netflix_data_df['type']=='Movie'].drop_duplicates(['title'])
netflix_filter

,show_id,title,description,type,year,date_added
0,81145628,Norm of the North: King Sized Adventure,Before planning an awesome wedding for his gra...,Movie,2019,"September 9, 2019"
1,80117401,Jandino: Whatever it Takes,Jandino Asporaat riffs on the challenges of ra...,Movie,2016,"September 9, 2016"
4,80125979,#realityhigh,When nerdy high schooler Dani finally attracts...,Movie,2017,"September 8, 2017"
6,70304989,Automata,"In a dystopian future, an insurance adjuster f...",Movie,2014,"September 8, 2017"
7,80164077,Fabrizio Copano: Solo pienso en mi,Fabrizio Copano takes audience participation t...,Movie,2017,"September 8, 2017"
...,...,...,...,...,...,...
5575,80093107,Toro,Ex-con Toro's brother and former partner in cr...,Movie,2016,"April 1, 2017"
5577,80085438,Frank and Cindy,Frank was a rising pop star when he married Ci...,Movie,2007,"April 1, 2016"
5579,80011846,Iverson,This unfiltered documentary follows the rocky ...,Movie,2014,"April 1, 2016"
5580,80064521,Jeremy Scott: The People's Designer,The journey of fashion designer Jeremy Scott f...,Movie,2015,"April 1, 2016"
6231,80116008,Little Baby Bum: Nursery Rhyme Friends,Nursery rhymes and original music for children...,Movie,2016,NaN

In [11]:
conn = "postgres:postgres@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{conn}')

In [12]:
engine.table_names()
#new_rating_data_df
#new_imdb_movies_df
#disney_filter
#netflix_filter

['imdb_title', 'imdb_ratings', 'disney', 'netflix']

In [15]:
new_rating_data_df.to_sql(name='imdb_ratings',con=engine,if_exists='append',index=False)
new_imdb_movies_df.to_sql(name='imdb_title',con=engine,if_exists='append',index=False)
disney_filter.to_sql(name='disney',con=engine,if_exists='append',index=False)
netflix_filter.to_sql(name='netflix',con=engine,if_exists='append',index=False)